.background {
    background-image: url('C:\\UNIPAR ADS\\Segundo_Semestre\\code_test\\conference-ticket-generator-main\\assets\\images\\background-desktop.png');
}

.font {
    font-family: 'inconsolata', sans-serif;
    font-size: 1.25rem;
}